body {
    margin: 0;
    padding: 0;
}


/*---------playing slider------------*/
.nowPlayingSliderFull {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #E5E5E5/*#d3d3d3*/;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: none;
}

.nowPlayingSliderFull:hover{
    background: #BBBBBB;
}

.nowPlayingSliderFull::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%; 
    background: #878787/*#4CAF50*/;
    cursor: pointer;
}

.nowPlayingSliderFull::-webkit-slider-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    width: 10px;
    height: 10px;
}

.nowPlayingSliderFull::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #878787/*#4CAF50*/;
    cursor: pointer;
}

.nowPlayingSliderFull::-moz-range-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.38);
}
/*----------------------------------*/


/*---------volume slider------------*/
.volumeSliderFull {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #DFDFDF/*#d3d3d3*/;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volumeSliderFull:hover{
    background: #BDBDBD;
}

.volumeSliderFull::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: white/*#4CAF50*/;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.volumeSliderFull::-webkit-slider-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.38);
}

.volumeSliderFull::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white/*#4CAF50*/;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer
}

.volumeSliderFull::-moz-range-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.38);
}

#player, #pauseFull, #volumeFull, #fullTimeFull {
    display: none;
}

#timeStampFull {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
    padding-left: 0.5%;
}

#remainingFull {
    display: inline-block;
    text-align: right;
    width: 49.5%;
    margin: 0;
    padding: 0;
}

#infoFull {
    margin: 0;
    width: 100%;
    padding: 0%;
    padding-right: 0;
    text-align: center;
    font-size: 2em;
}
#infoFull img {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 4px 40px 0 rgba(0, 0, 0, 0.4);
}

#controlsFull {
    margin: 0;
    width: 100%;
    padding: 0%;
    text-align: center;
    font-size: 3em;
}
