/*---------playing slider------------*/
.nowPlayingSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #E5E5E5/*#d3d3d3*/;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.nowPlayingSlider:hover{
    background: #BBBBBB;
}

.nowPlayingSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%; 
    background: #878787/*#4CAF50*/;
    cursor: pointer;
}

.nowPlayingSlider::-webkit-slider-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    width: 10px;
    height: 10px;
}

.nowPlayingSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #878787/*#4CAF50*/;
    cursor: pointer;
}

.nowPlayingSlider::-moz-range-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.38);
}
/*----------------------------------*/


/*---------volume slider------------*/
.volumeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #DFDFDF/*#d3d3d3*/;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volumeSlider:hover{
    background: #BDBDBD;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: white/*#4CAF50*/;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.volumeSlider::-webkit-slider-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.38);
}

.volumeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white/*#4CAF50*/;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer
}

.volumeSlider::-moz-range-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.38);
}

.song {
    cursor: pointer;
}

#player, #pause {
    display: none;
}

#playlistTable tbody tr:nth-child(odd) {
   background-color: #f2f2f2;
}